<div class="container">
    {{#each posts}}
    <div class="media">
        <img class="mr-3" src="{{user.image}}">
        <div class="media-body">
            <h3 class="mt-0">{{user.fullname}}</h3>
            <h4>{{title}}</h4>
            <p>{{body}}</p>
            <small>{{date}}</small>
        </div>
    </div>
    {{else}}
    <p>Nothing is posted yet!</p>
    {{/each}}
</div>