<div class="container-fluid">
    <div class="row">
        {{#each users}}
        <div class="col-sm-3">
            <div class="card">
               <a href="/user/{{id}}"><img class="card-img-top card-img" src="{{image}}"></a> 
                <div class="card-body">
                    <a href="/user/{{id}}">
                        <h5 class="card-title user-display" >{{fullname}}</h5>
                    </a>
                    <p id="address" class="card-title user-display">{{location}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>